// Blueprint

.outline-none{
  outline: none !important;
}

.box-shadow-none{
  box-shadow: none !important;
}

.object-fit-cover{
  object-fit: cover;
}

.fw-semi-bold{
  font-weight: 600;
}

.fw-light{
  font-weight: 300;
}


.font-12{
  font-size: 1.2rem;
}

.font-13{
  font-size: 1.3rem;
}

.font-15{
  font-size: 1.5rem;
}

.font-16{
  font-size: 1.6rem;
}

.font-17{
  font-size: 1.7rem;
}

.font-18{
  font-size: 1.8rem;
}

.font-20{
  font-size: 2rem;
}

.font-22{
  font-size: 2.2rem;
}

.font-24{
  font-size: 2.4rem;
}

.z-index-10{
  z-index: 10;
}
.all-0{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pointer-events-none{
  pointer-events: none;
}

.cursor-pointer{
  cursor: pointer;
}